lisp/the-lab.el
custom.el*
README.el
auto-save-list/
elpa/
straight/
eshell/
recentf
smex-items
tramp
projectile-bookmarks.eld
network-security.data
oauth2.plstore
ido.last*
srecode-map.el
irony
*.cache
.python-environments
magithub
server
request/
transient/
.lsp-session-v1
eln-cache
url/cookies
var
parinfer-rust/
