[user]
	email = joshuafwolfe@gmail.com
	name = Josh Wolfe
	signingkey = joshuafwolfe@gmail.com
[push]
	default = simple
[magit]
	hideCampaign = true
[github]
	user = WolfeCub
[commit]
	gpgsign = true
[alias]
	c = commit
	co = checkout
	s = status
	p = pull
	po = push -u origin HEAD
	get = "!f() { git stash && git checkout $1 && git pull --ff && git stash pop; }; f"
