.emacs.d/lisp/the-lab.el
.emacs.d/custom.el
.emacs.d/README.el
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/tramp
.vim/.netrwhist
.vim/plugged/
.emacs.d/ido.last
.emacs.d/ido.last~
.emacs.d/#init.el#
