[submodule ".vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule "emacs/.emacs.d/lisp/meme"]
	path = emacs/.emacs.d/lisp/meme
	url = https://github.com/larsmagne/meme.git
    ignore = untracked
[submodule "emacs/.emacs.d/lisp/major-mode-hydra"]
	path = emacs/.emacs.d/lisp/major-mode-hydra
	url = https://github.com/jerrypnz/major-mode-hydra.el.git
