*.elc
emacs/.emacs.d/lisp/the-lab.el
emacs/.emacs.d/custom.el*
emacs/.emacs.d/README.el
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elpa/
emacs/.emacs.d/eshell/
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/tramp
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/network-security.data
emacs/.emacs.d/oauth2.plstore
emacs/.emacs.d/ido.last*
emacs/.emacs.d/#init.el#
emacs/.emacs.d/srecode-map.el
emacs/.emacs.d/irony
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/.python-environments
vim/.vim/.netrwhist
vim/.vim/plugged/
