[submodule ".vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
