! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #000000, #000000, #000000
rofi.color-normal: #000000, #c1c1c1, #000000, #394249, #ffffff
rofi.color-active: #000000, #80cbc4, #000000, #394249, #80cbc4
rofi.color-urgent: #000000, #ff1844, #000000, #394249, #ff1844
